body {
    font-family: Arial,Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(51, 51, 51);
}

.search-bar {
    margin: 20px;
}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: yellow;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 2px 2px 10px gray;
}
.card img {
    width: 100px;
}
input{
    width: 180px;
    height: 20px;
    border-radius: 5px;
    border: none;
}
select{
    width: 180px;
    height: 22px;
    border-radius: 5px;
    border: none;
}
.sort{
    width: 180px;
    height: 22px;
    border-radius: 5px;
    border: none;
}
.send{
    width: 80px;
    height: 25px;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: none;
}